
Options -Indexes


<IfModule mod_authz_core.c>
  <FilesMatch "^(Xlsx|Zip|bootstrap|consulta|formatos)\.php$">
    Require all denied
  </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
  <FilesMatch "^(Xlsx|Zip|bootstrap|consulta|formatos)\.php$">
    Order allow,deny
    Deny from all
  </FilesMatch>
</IfModule>
